In [370]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [371]:
Data = pd.read_csv("train.csv")

In [372]:
Data['datetime'] = pd.to_datetime(Data['datetime'])

In [373]:
Data['year'] = Data['datetime'].dt.year
Data['month'] = Data['datetime'].dt.month
Data['day'] = Data['datetime'].dt.day
Data['hour'] = Data['datetime'].dt.hour
Data['minute'] = Data['datetime'].dt.minute
Data['second'] = Data['datetime'].dt.second

Data['dayofweek'] = Data['datetime'].dt.dayofweek

In [374]:
Data

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,year,month,day,hour,minute,second,dayofweek
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0000,3,13,16,2011,1,1,0,0,0,5
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0000,8,32,40,2011,1,1,1,0,0,5
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0000,5,27,32,2011,1,1,2,0,0,5
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0000,3,10,13,2011,1,1,3,0,0,5
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0000,0,1,1,2011,1,1,4,0,0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10881,2012-12-19 19:00:00,4,0,1,1,15.58,19.695,50,26.0027,7,329,336,2012,12,19,19,0,0,2
10882,2012-12-19 20:00:00,4,0,1,1,14.76,17.425,57,15.0013,10,231,241,2012,12,19,20,0,0,2
10883,2012-12-19 21:00:00,4,0,1,1,13.94,15.910,61,15.0013,4,164,168,2012,12,19,21,0,0,2
10884,2012-12-19 22:00:00,4,0,1,1,13.94,17.425,61,6.0032,12,117,129,2012,12,19,22,0,0,2
10885,2012-12-19 23:00:00,4,0,1,1,13.12,16.665,66,8.9981,4,84,88,2012,12,19,23,0,0,2

In [375]:
Data.keys()

Index(['datetime', 'season', 'holiday', 'workingday', 'weather', 'temp',
       'atemp', 'humidity', 'windspeed', 'casual', 'registered', 'count',
       'year', 'month', 'day', 'hour', 'minute', 'second', 'dayofweek'],
      dtype='object')

In [376]:
Data.isnull().sum()

datetime      0
season        0
holiday       0
workingday    0
weather       0
temp          0
atemp         0
humidity      0
windspeed     0
casual        0
registered    0
count         0
year          0
month         0
day           0
hour          0
minute        0
second        0
dayofweek     0
dtype: int64

In [377]:
Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 19 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   datetime    10886 non-null  datetime64[ns]
 1   season      10886 non-null  int64
 2   holiday     10886 non-null  int64
 3   workingday  10886 non-null  int64
 4   weather     10886 non-null  int64
 5   temp        10886 non-null  float64
 6   atemp       10886 non-null  float64
 7   humidity    10886 non-null  int64
 8   windspeed   10886 non-null  float64
 9   casual      10886 non-null  int64
 10  registered  10886 non-null  int64
 11  count       10886 non-null  int64
 12  year        10886 non-null  int64
 13  month       10886 non-null  int64
 14  day         10886 non-null  int64
 15  hour        10886 non-null  int64
 16  minute      10886 non-null  int64
 17  second      10886 non-null  int64
 18  dayofweek   10886 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(15)
memory usage: 1.6 MB

In [378]:
from sklearn.model_selection import train_test_split

In [379]:
features = Data[['season', 'holiday', 'workingday', 'weather', 'temp',
       'atemp', 'humidity', 'windspeed', 'casual', 'registered',
       'year', 'month', 'day', 'hour', 'minute', 'second', 'dayofweek']]
target = Data[['count']]

In [380]:
train_ratio = 0.6
test_ratio = 0.2
validation_ratio = 0.2

In [381]:
X_train, X_test, y_train, y_test = train_test_split(features, target, test_size= 1 - train_ratio)
X_valid, X_test, y_valid, y_test = train_test_split(X_test, y_test, test_size= test_ratio / (test_ratio + validation_ratio))

In [382]:
X_train, X_test, y_train, y_test, X_valid, y_valid

(       season  holiday  workingday  weather   temp   atemp  humidity  \
 10067       4        0           0        1  13.12  14.395        53
 8400        3        0           1        2  28.70  33.335        74
 9640        4        0           0        1  22.96  26.515        83
 8074        2        0           0        2  28.70  31.820        42
 9851        4        0           0        1  22.14  25.760        73
 ...       ...      ...         ...      ...    ...     ...       ...
 5492        1        0           1        1   4.10   3.790        46
 270         1        0           1        1   8.20   9.090        47
 1435        2        0           1        1  15.58  19.695        46
 9760        4        0           1        1  18.04  21.970        47
 8819        3        0           1        1  28.70  32.575        54

        windspeed  casual  registered  year  month  day  hour  minute  second  \
 10067    23.9994       7         134  2012     11    4    20       0       0
 8400      8.9981      30         298  2012      7   11     9       0       0
 9640     16.9979      25         116  2012     10    6     1       0       0
 8074     12.9980     184         277  2012      6   16    19       0       0
 9851     15.0013      48         198  2012     10   14    20       0       0
 ...          ...     ...         ...   ...    ...  ...   ...     ...     ...
 5492     26.0027       0          18  2012      1    3    23       0       0
 270      23.9994       0         139  2011      1   12    17       0       0
 1435     27.9993      17         113  2011      4    5    16       0       0
 9760     12.9980       1          10  2012     10   11     1       0       0
 8819     19.0012      91         387  2012      8    9    20       0       0

        dayofweek
 10067          6
 8400           2
 9640           5
 8074           5
 9851           6
 ...          ...
 5492           1
 270            2
 1435           1
 9760           3
 8819           3

 [6531 rows x 17 columns],
        season  holiday  workingday  weather   temp   atemp  humidity  \
 1748        2        0           1        1  26.24  31.060        31
 4852        4        0           1        2  22.96  26.515        64
 4743        4        0           1        3  14.76  17.425        81
 7539        2        0           0        1  26.24  31.060        57
 917         1        0           1        1  22.14  25.760        19
 ...       ...      ...         ...      ...    ...     ...       ...
 8323        3        0           0        1  31.98  37.880        66
 10277       4        0           1        1  16.40  20.455        40
 7307        2        0           1        1  26.24  30.305        73
 3796        3        0           1        3  25.42  27.275        94
 7343        2        0           0        1  23.78  27.275        83

        windspeed  casual  registered  year  month  day  hour  minute  second  \
 1748     23.9994      41         321  2011      4   18    18       0       0
 4852      6.0032       4         104  2011     11   15     6       0       0
 4743     15.0013       9         168  2011     11   10    17       0       0
 7539     15.0013     189         342  2012      5   13    12       0       0
 917      22.0028      27         112  2011      3    2    16       0       0
 ...          ...     ...         ...   ...    ...  ...   ...     ...     ...
 8323      7.0015       2          11  2012      7    8     4       0       0
 10277    19.9995      33         184  2012     11   13    15       0       0
 7307     12.9980      52         368  2012      5    3    20       0       0
 3796     11.0014       0           3  2011      9    9     4       0       0
 7343      6.0032      42         155  2012      5    5     8       0       0

        dayofweek
 1748           0
 4852           1
 4743           3
 7539           6
 917            2
 ...          ...
 8323           6
 10277          1
 7307           3
 3796           4
 7343           5

 [2178 rows x 17 columns],
        count
 10067    141
 8400     328
 9640     141
 8074     461
 9851     246
 ...      ...
 5492      18
 270      139
 1435     130
 9760      11
 8819     478

 [6531 rows x 1 columns],
        count
 1748     362
 4852     108
 4743     177
 7539     531
 917      139
 ...      ...
 8323      13
 10277    217
 7307     420
 3796       3
 7343     197

 [2178 rows x 1 columns],
       season  holiday  workingday  weather   temp   atemp  humidity  \
 5998       1        0           1        1   7.38  10.605        80
 2732       3        0           0        1  33.62  35.605        30
 5953       1        0           0        1   9.02  11.365        87
 9705       4        1           0        2  17.22  21.210        66
 3708       3        1           0        2  28.70  32.575        70
 ...      ...      ...         ...      ...    ...     ...       ...
 5967       1        0           0        3   9.84  11.365        93
 3915       3        0           1        1  24.60  28.030        83
 1055       1        0           1        2  14.76  18.940        23
 3557       3        0           1        1  27.06  31.060        69
 9009       3        0           1        2  33.62  12.120        38

       windspeed  casual  registered  year  month  day  hour  minute  second  \
 5998     7.0015       0           2  2012      2    6     4       0       0
 2732    19.0012     193         190  2011      7    2    18       0       0
 5953     8.9981       1           4  2012      2    4     6       0       0
 9705    19.0012      41         415  2012     10    8    18       0       0
 3708    11.0014     107         137  2011      9    5    10       0       0
 ...         ...     ...         ...   ...    ...  ...   ...     ...     ...
 5967    12.9980       4          73  2012      2    4    20       0       0
 3915     6.0032       1           8  2011      9   14     4       0       0
 1055     0.0000      29          70  2011      3    8    12       0       0
 3557    19.0012       0           6  2011      8   18     3       0       0
 9009    16.9979     108         561  2012      8   17    18       0       0

       dayofweek
 5998          0
 2732          5
 5953          5
 9705          0
 3708          0
 ...         ...
 5967          5
 3915          2
 1055          1
 3557          3
 9009          4

 [2177 rows x 17 columns],
       count
 5998      2
 2732    383
 5953      5
 9705    456
 3708    244
 ...     ...
 5967     77
 3915      9
 1055     99
 3557      6
 9009    669

 [2177 rows x 1 columns])

In [383]:
print(X_train, X_valid, X_test)

       season  holiday  workingday  weather   temp   atemp  humidity  \
10067       4        0           0        1  13.12  14.395        53
8400        3        0           1        2  28.70  33.335        74
9640        4        0           0        1  22.96  26.515        83
8074        2        0           0        2  28.70  31.820        42
9851        4        0           0        1  22.14  25.760        73
...       ...      ...         ...      ...    ...     ...       ...
5492        1        0           1        1   4.10   3.790        46
270         1        0           1        1   8.20   9.090        47
1435        2        0           1        1  15.58  19.695        46
9760        4        0           1        1  18.04  21.970        47
8819        3        0           1        1  28.70  32.575        54

       windspeed  casual  registered  year  month  day  hour  minute  second  \
10067    23.9994       7         134  2012     11    4    20       0       0
8400      8.9981      30         298  2012      7   11     9       0       0
9640     16.9979      25         116  2012     10    6     1       0       0
8074     12.9980     184         277  2012      6   16    19       0       0
9851     15.0013      48         198  2012     10   14    20       0       0
...          ...     ...         ...   ...    ...  ...   ...     ...     ...
5492     26.0027       0          18  2012      1    3    23       0       0
270      23.9994       0         139  2011      1   12    17       0       0
1435     27.9993      17         113  2011      4    5    16       0       0
9760     12.9980       1          10  2012     10   11     1       0       0
8819     19.0012      91         387  2012      8    9    20       0       0

       dayofweek
10067          6
8400           2
9640           5
8074           5
9851           6
...          ...
5492           1
270            2
1435           1
9760           3
8819           3

[6531 rows x 17 columns]       season  holiday  workingday  weather   temp   atemp  humidity  \
5998       1        0           1        1   7.38  10.605        80
2732       3        0           0        1  33.62  35.605        30
5953       1        0           0        1   9.02  11.365        87
9705       4        1           0        2  17.22  21.210        66
3708       3        1           0        2  28.70  32.575        70
...      ...      ...         ...      ...    ...     ...       ...
5967       1        0           0        3   9.84  11.365        93
3915       3        0           1        1  24.60  28.030        83
1055       1        0           1        2  14.76  18.940        23
3557       3        0           1        1  27.06  31.060        69
9009       3        0           1        2  33.62  12.120        38

      windspeed  casual  registered  year  month  day  hour  minute  second  \
5998     7.0015       0           2  2012      2    6     4       0       0
2732    19.0012     193         190  2011      7    2    18       0       0
5953     8.9981       1           4  2012      2    4     6       0       0
9705    19.0012      41         415  2012     10    8    18       0       0
3708    11.0014     107         137  2011      9    5    10       0       0
...         ...     ...         ...   ...    ...  ...   ...     ...     ...
5967    12.9980       4          73  2012      2    4    20       0       0
3915     6.0032       1           8  2011      9   14     4       0       0
1055     0.0000      29          70  2011      3    8    12       0       0
3557    19.0012       0           6  2011      8   18     3       0       0
9009    16.9979     108         561  2012      8   17    18       0       0

      dayofweek
5998          0
2732          5
5953          5
9705          0
3708          0
...         ...
5967          5
3915          2
1055          1
3557          3
9009          4

[2177 rows x 17 columns]        season  holiday  workingday  weather   temp   atemp  humidity  \
1748        2        0           1        1  26.24  31.060        31
4852        4        0           1        2  22.96  26.515        64
4743        4        0           1        3  14.76  17.425        81
7539        2        0           0        1  26.24  31.060        57
917         1        0           1        1  22.14  25.760        19
...       ...      ...         ...      ...    ...     ...       ...
8323        3        0           0        1  31.98  37.880        66
10277       4        0           1        1  16.40  20.455        40
7307        2        0           1        1  26.24  30.305        73
3796        3        0           1        3  25.42  27.275        94
7343        2        0           0        1  23.78  27.275        83

       windspeed  casual  registered  year  month  day  hour  minute  second  \
1748     23.9994      41         321  2011      4   18    18       0       0
4852      6.0032       4         104  2011     11   15     6       0       0
4743     15.0013       9         168  2011     11   10    17       0       0
7539     15.0013     189         342  2012      5   13    12       0       0
917      22.0028      27         112  2011      3    2    16       0       0
...          ...     ...         ...   ...    ...  ...   ...     ...     ...
8323      7.0015       2          11  2012      7    8     4       0       0
10277    19.9995      33         184  2012     11   13    15       0       0
7307     12.9980      52         368  2012      5    3    20       0       0
3796     11.0014       0           3  2011      9    9     4       0       0
7343      6.0032      42         155  2012      5    5     8       0       0

       dayofweek
1748           0
4852           1
4743           3
7539           6
917            2
...          ...
8323           6
10277          1
7307           3
3796           4
7343           5

[2178 rows x 17 columns]

In [384]:
print(X_train, y_train)

       season  holiday  workingday  weather   temp   atemp  humidity  \
10067       4        0           0        1  13.12  14.395        53
8400        3        0           1        2  28.70  33.335        74
9640        4        0           0        1  22.96  26.515        83
8074        2        0           0        2  28.70  31.820        42
9851        4        0           0        1  22.14  25.760        73
...       ...      ...         ...      ...    ...     ...       ...
5492        1        0           1        1   4.10   3.790        46
270         1        0           1        1   8.20   9.090        47
1435        2        0           1        1  15.58  19.695        46
9760        4        0           1        1  18.04  21.970        47
8819        3        0           1        1  28.70  32.575        54

       windspeed  casual  registered  year  month  day  hour  minute  second  \
10067    23.9994       7         134  2012     11    4    20       0       0
8400      8.9981      30         298  2012      7   11     9       0       0
9640     16.9979      25         116  2012     10    6     1       0       0
8074     12.9980     184         277  2012      6   16    19       0       0
9851     15.0013      48         198  2012     10   14    20       0       0
...          ...     ...         ...   ...    ...  ...   ...     ...     ...
5492     26.0027       0          18  2012      1    3    23       0       0
270      23.9994       0         139  2011      1   12    17       0       0
1435     27.9993      17         113  2011      4    5    16       0       0
9760     12.9980       1          10  2012     10   11     1       0       0
8819     19.0012      91         387  2012      8    9    20       0       0

       dayofweek
10067          6
8400           2
9640           5
8074           5
9851           6
...          ...
5492           1
270            2
1435           1
9760           3
8819           3

[6531 rows x 17 columns]        count
10067    141
8400     328
9640     141
8074     461
9851     246
...      ...
5492      18
270      139
1435     130
9760      11
8819     478

[6531 rows x 1 columns]

In [385]:
from sklearn.neighbors import KNeighborsRegressor

In [386]:
knn_model = KNeighborsRegressor()

In [387]:
knn_model.fit(X_train,y_train)

KNeighborsRegressor()

In [388]:
predict = knn_model.predict(X_test)

In [393]:
print(f'train score: {knn_model.score(X_train, y_train)}')
print(f'test score: {knn_model.score(X_test, y_test)}')
print(f'validation score: {knn_model.score(X_valid, y_valid)}:')

train score: 0.999502151750867
test score: 0.9993622251738757
validation score: 0.9994102151699032: